@using System.Collections
@using Risk_Legacy_App.Models
@model Risk_Legacy_App.Models.Setting
@{
    ViewBag.Title = "Risk Calculator";
}
<div class="jumbotron">
    <h1>Risk: Legacy Calculator</h1>
    <p class="lead">
        Random Quote here: “The end is in the beginning and lies far ahead.”
        ― Ralph Ellison
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">Dice and Rolls</div>
            <!-- Table -->
            <div class="panel-body">
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon label label-primary">Attacking Dice</span>
                            <input type="number" value="3" min="1" max="6" class="form-control" placeholder="Dice">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon label label-danger">Defending Dice</span>
                            <input type="number" value="2" min="1" max="6" class="form-control" placeholder="Dice">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon label label-primary">Attacking Armies</span>
                            <input type="number" value="10" min="2" max="5000" class="form-control" placeholder="Armies">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon label label-danger">Defending Armies</span>
                            <input type="number" value="10" min="1" max="5000" class="form-control" placeholder="Armies">
                        </div>
                    </div>
                </div>
                <br />
                @*To be replaced with optional number of units for Attacking and Defending*@
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon label label-success">Max Rolls</span>
                            <input type="number" value=@Model.MyNumber step="100" min="100" max="10000" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="col-md-3">
                        <div class="input-group input-group-sm">
                            <button type="button" class="btn btn-sm btn-success">AutoRoll</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group input-group-sm">
                            <button type="button" class="btn btn-sm btn-success">Roll</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="panel panel-info">
            <!-- Individual Dice Rules -->
            <div class="panel-heading">Dice Rules</div>
            <!-- Most of this code is temporary untill I get jQuery to make it automated -->
            <div class="panel-body">
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon label label-primary">+/- Highest</span>
                            <input type="number" value="0" min="-6" max="6" class="form-control" placeholder="+/-">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon label label-danger">+/- Highest</span>
                            <input type="number" value="0" min="-6" max="6" class="form-control" placeholder="+/-">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon label label-primary">+/- Lowest</span>
                            <input type="number" value="0" min="-6" max="6" class="form-control" placeholder="+/-">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon label label-danger">+/- Lowest</span>
                            <input type="number" value="0" min="-6" max="6" class="form-control" placeholder="+/-">
                        </div>
                    </div>
                </div>
                <br />
                @*To be replaced with optional number of units for Attacking and Defending*@
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon label label-success">Max Rolls</span>
                            <input type="number" value=@Model.MyNumber step="100" min="100" max="10000" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="col-md-3">
                        <div class="input-group input-group-sm">
                            <button type="button" class="btn btn-sm btn-success">AutoRoll</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group input-group-sm">
                            <button type="button" class="btn btn-sm btn-success">Roll</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">.col-md-4</div>
            <div class="col-md-4">.col-md-4</div>
            <div class="col-md-4">.col-md-4</div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
            <div class="col-md-2 col-md-offset-4">.col-md-2 .col-md-offset-4</div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                Level 1: .col-sm-9
                <div class="row">
                    <div class="col-xs-8 col-sm-6">
                        Level 2: .col-xs-8 .col-sm-6
                    </div>
                    <div class="col-xs-4 col-sm-6">
                        Level 2: .col-xs-4 .col-sm-6
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>